.black-screen {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.602);
    position: absolute;
    top: -50px;
    left: 0;
    display: flex;
}

.popup-container {
    width: 90%;
    height: fit-content;
    max-height: 90%;
    background-color: #fffeff;
    margin: auto;
    position: relative;
    top: 2%;
}

.close-btn {
    background-image: url("../../assets/images/x.png");
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    margin: 3vw;

}

.form-container {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: center;
}

.form-textarea {
    width: 80%;
    font-size: 1.2rem;
    font-family: assistant;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
}

.form-input {
    width: 80%;
    height: 2rem;
    font-family: assistant;
    font-size: 1.2rem;
    margin: 0 0 2vh 0;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
}

textarea::placeholder,
input::placeholder {
    color: #ad838c7e;
}

.form-input:focus {
    border: 1px solid rgb(0, 0, 0);
}

.input-container {
    text-align: right;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 1.2rem;
}

.pop-up-title {
    margin-top: 3vh !important;
    margin-bottom: 1vh;
    line-height: 2.5rem;
    font-size: 2.5rem;
}

.number-input {
    font-family: assistant;
    width: 2rem;
    height: 2.5rem;
    font-size: 1.2rem;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    text-align: center;
}

.popup-btn {
    margin: 2vh 0 3vh 0;
}

.number-container {
    text-align: right;
    width: 100%;
    display: flex;
    font-size: 1.2rem;
    justify-content: space-between;
    align-items: flex-end;
    /* margin: 0 0 1rem 0; */
    line-height: 2.5rem;
}

.number-controls {
    display: flex;
    align-items: center;
    height: min-content;

}

.number-controller {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 1.5vw;
}

.checkbox-container {
    font-size: 1.2rem;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin-top: 2vh;
    height: 2.5rem;
}

.checkbox {
    border: 1px solid rgb(0, 0, 0);
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 0 0 2vw;  
    transition: 120ms transform ease-in-out;
    accent-color: #da627d;
    border-radius: 5px;
}

.gray {
    filter: grayscale(0.8);
}

.confirmation-text {
    font-size: 1.2rem;
    margin: 0 0 3vh 0;
}

.warning-kosher {
    color: rgb(177, 68, 68);
    align-self: flex-start;
}