.black-screen {
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.602);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
}

.popup-container {
    width: 80%;
    height: fit-content;
    background-color: #fffeff;
    margin: auto;
    position: relative;
}

.close-btn {
    background-image: url("../../assets/images/x.png");
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    margin: 1rem;

}

.form-container {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: center;
}

.form-textarea {
    width: 80%;
    font-size: 1.2rem;
    font-family: assistant;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
}

.form-input {
    width: 80%;
    height: 2.5rem;
    font-family: assistant;
    font-size: 1.2rem;
    margin: 0 0 1rem 0;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
}

textarea::placeholder,
input::placeholder {
    color: #ad838c7e;
}

.form-input:focus {
    border: 1px solid rgb(0, 0, 0);
}

.input-container {
    text-align: right;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 1.2rem;
}

.pop-up-title {
    margin-top: 3rem !important;
    line-height: 2.5rem;
    font-size: 2.5rem;
}

.number-input {
    font-family: assistant;
    width: 2rem;
    height: 2.5rem;
    font-size: 1.2rem;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    text-align: center;
}

.popup-btn {
    margin: 2rem 0 3rem 0;
}

.number-container {
    text-align: right;
    width: 100%;
    display: flex;
    font-size: 1.2rem;
    justify-content: space-between;
    align-items: flex-end;
}

.number-controls {
    display: flex;
    align-items: center;
    height: min-content;
    margin-top: 2rem;
}

.number-controller {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 0.5rem;
}