.order-details {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start
}

.order-details-bg {
    width: 100vw;
    height: 100vh;
    background-color: #f9f1f2;
    position: absolute;
    top: 0;
    z-index: 2;
}

.filter-details {
    position: absolute;
    top: 0.5rem;
    right: 0;
    width: fit-content;
}

.order-details-subtitle {
    font-size: 1.1rem;
    width: 100%;
    margin: 1rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.5fr 0.5fr;
    justify-items: start;
    gap: 0px 0px;
    grid-template-areas:
        "collectorDetails collectorDetails"
        "collectorName collectorPhone"
        "collectorTime collectorAdress";
}

#collectorDetails {
    grid-area: collectorDetails;
}

#collectorName {
    grid-area: collectorName;
}

#collectorPhone {
    grid-area: collectorPhone;
}

#collectorAdress {
    grid-area: collectorAdress;
}

#collectorTime {
    grid-area: collectorTime;
}

.back-arrow {
    background-image: url('../../assets/images/arrow.png');
    width: 2rem;
    height: 2rem;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    margin: 1rem;
}

.order-container {
    border-radius: 5px;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    bottom: 0;
    overflow-y: auto;
    direction: rtl;
}

.details-container {
    background-color: #fffeff;
    width: calc(85vw + 2rem);
    max-height: 65%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.order-container::-webkit-scrollbar {
    width: 0.5rem;
}
 
.order-container::-webkit-scrollbar-track {
    background-color: #f9f1f2;
}
 
.order-container::-webkit-scrollbar-thumb {
  background-color: #ad838ca7;
  border-radius: 5px;
}

.details-top-bar {
    flex-shrink: 0;
    font-size: 1.1rem;
    display: grid;
    grid-template-columns: 2.1fr 0.7fr 0.7fr 1fr;
    text-align: right;
    width: 90%;
    margin: auto;
    padding: 0.5rem;
    color: #9b6772;
    align-items: center
}

.dish-details {
    width: 90%;
    display: grid;
    font-size: 1.1rem;
    text-align: right;
    grid-template-columns: 2fr 0.5fr 0.5fr 1fr;
    align-items: center;
    justify-items: start;
    justify-content: start;
    align-content: center;
}

.dish-details p {
    font-size: 1.1rem;
}

.register-btn {
    font-size: 1.1rem;
    font-family: assistant;
    background-color: white;
    border: solid 1px #576C31;
    color: #576C31;
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
}

.order-details-title {
    color: #da627d;
    font-family: "narkis-bold";
    font-size: 3rem;
    line-height: 3rem;
    margin: 0;
    margin-top: 2rem;
}

.subtitle-text {
    margin: 0;
}

.order-details-subtitle h4 {
    font-family: Narkis-bold;
    margin: 0;
    font-size: 2rem;
    color: #da627d;
}

.main-details-container {
    height: 90%;
    margin: 0;
    padding: auto;
}

.top-details-container {
    height: 10%;
    width: 100%;
    position: relative;
    top: 0;
}

.more-details-btn {
    margin-top: 2rem;
    font-size: 1.1rem;
    font-family: assistant;
    background-color: #da627d;
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
}