@font-face {
  font-family: assistant;
  src: url('./assets/fonts/Assistant-VariableFont_wght.ttf');
}

@font-face {
  font-family: narkis-bold;
  src: url('./assets/fonts/NarkisBlockCon-Bold_MFW.woff');
}

@font-face {
  font-family: narkis-thin;
  src: url('./assets/fonts/NarkisBlockCon-Thin_MFW.woff');
}

#root {
  max-width: 1280px;
  margin: 0;
  text-align: center;
  font-family: 'assistant';
  direction: rtl;
  font-size: calc(10px + 1vw);
}

body {
  width: 100vw;
  height: 90vh;
  margin: 0;
  background-color: #f9f1f2;
  overflow: hidden;
}

.app-logo {
  width: 10rem;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.hidden {
  pointer-events: none;
  visibility: hidden;
}

.title {
  color: #da627d;
  font-family: "narkis-bold";
  font-size: 5rem;
  margin-bottom: 0;
}

.secondary-title {
  margin-top: 0;
  margin-bottom: 2rem;
  font-family: "narkis-thin";
  color: #576C31;
  font-size: 3rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.title-container {
  position: relative;
  height: 9.5rem;
  width: 90%;
  margin: auto;
}