@font-face {
  font-family: assistant;
  src: url('./assets/fonts/Assistant-VariableFont_wght.ttf');
}

@font-face {
  font-family: narkis-bold;
  src: url('./assets/fonts/NarkisBlockCon-Bold_MFW.woff');
}

@font-face {
  font-family: narkis-thin;
  src: url('./assets/fonts/NarkisBlockCon-Thin_MFW.woff');
}

#root {
  max-width: 1280px;
  margin: 0;
  text-align: center;
  font-family: 'assistant';
  direction: rtl;
  font-size: calc(10px + 1vw);
  height: 100%;
}

body {
  width: 100vw;
  height: calc(100vh - 100px);
  margin: 0;
  background-color: #f9f1f2;
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.app-logo {
  width: 10rem;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.hidden {
  pointer-events: none;
  visibility: hidden;
}

.title {
  color: #da627d;
  font-family: "narkis-bold";
  font-size: 4.5rem;
  margin-bottom: 0;
  margin-top: 1rem;
}

.secondary-title {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: "narkis-thin";
  color: #576C31;
  font-size: 2.5rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  pointer-events: none;
}

.title-container {
  position: relative;
  height: 7.5rem;
  width: 90%;
  margin: auto;
}