.new-order {
    width: 100vw;
    height: calc(100vh - 100px);
    background-color: #f9f1f2;
    position: absolute;
    top: 0;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}